[Unit]
Description=Check Danensoft every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=20
Persistent=true

[Install]
WantedBy=timers.target
